
#logo{
    width:200px;
    height: 50px;
}

.header{
    position: sticky;
    background-color: aliceblue;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.header-list{
    display: inline-flex;
    list-style: none;
    width: 80vw;
    justify-content: end;
}

.header-list li{
    margin-left:1%;
}

.navigation{
    margin-block-end: 0;
    padding-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: end;
}

.navigation li a{
    text-decoration: none;
    padding: 5px 15px
}

.navigation>li:last-child{
margin-right: 70px;
}

.active{
    color: #171941;
    text-shadow: 1px 1px#ec250d;
}